<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896487683242-n80lsvl8imjv1aphd00b9cntd2irds47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896487683242-n80lsvl8imjv1aphd00b9cntd2irds47</string>
	<key>API_KEY</key>
	<string>AIzaSyAurJai4mdK7uQyjdpEXaQ-QpCZNM7resQ</string>
	<key>GCM_SENDER_ID</key>
	<string>896487683242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokedexMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pokedex-flutter-91ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-flutter-91ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896487683242:ios:34c2975987e78ae4be8cd3</string>
</dict>
</plist>